p#about_us Welcome to Langly, your number one source for all things languages. We're dedicated to giving you the very best language learning experience, with a focus on visual, audio, and text. Founded in 2021 by Daniel, Omar, and Jack, Langly has come a long way from its beginnings in Sweden, Gothenburg. When we first started out, we had passion for what differs between visual, audio, and text learning so that Langly can offer you our services. We now serve customers all over the world, and are thrilled that we're able to turn our passion into our own website.

p#about_us We hope you enjoy our products as much as we enjoy offering them to you. If you have any questions or comments, please don't hesitate to contact us.

p#about_us Sincerely,

p#about_us Daniel, Omar, and Jack, the Langly founders

footer 
    div Copyright &copy; 2021 Langly
    div All rights deserved