link rel="stylesheet" href="css/style.css"/

h1.hemsidan Välkommen till hemsidan! Navigera till de andra sidorna via följande länkar:

a href="lektioner"
h2.links Dina lektioner

a href="om_oss"
h2.links Om oss

a href="login"
h2.links Inloggning