h3 Du är ett steg från ett bättre lärande
form action="/login" method="POST"
    input type="text" name="username" placeholder="username" required="" autocomplete="off"
    input type="password" name="password" placeholder="password" required="" autocomplete="off"
    input type="submit" Value="Join"
