h2 Tyska!

p Tyska (tyska: deutsche Sprache, Deutsch) är ett germanskt språk, talat av omkring 120–150 miljoner människor (varav cirka 95[1] miljoner har det som modersmål). Detta gör språket till Europas största eller näst största språk[2][3][4] (efter ryska) och det germanska språk med näst flest talare i världen, efter engelskan. Tyskan är världens tolfte största språk.[5]

p Tyskan har ett stort antal dialekter, till exempel bayerska, kölsch och westfaliska, vilka brukar delas in i huvudgrupperna högtyska och lågtyska. Till skillnad från många andra germanska språk har tyskan bevarat mycket av den urgermanska grammatiken. Ett exempel på detta är rika kasusböjningar, men språket har i andra avseenden förändrat sig mer från urgermanskan än många andra språk, bland annat genom en ljudskridning där /p/ blivit /f/ (svenska skepp, engelska ship, tyska Schiff), /t/ blivit /s/ eller z (svenska tid, engelska tide och tyska Zeit och svenska äta, engelska eat och tyska essen) och /k/ blivit ch (svenska språk, engelska speak, tyska Sprache).[6]